In [18]:
#imports
import math, subprocess
import pandas as pd
import numpy as np
from IPython.display import display, clear_output
from sklearn.model_selection import train_test_split
import os
from os import listdir, path

In [13]:
paths = [
    "Resultados",
    "Data"
]
def crearPaths(paths=paths):
    for p in paths:    
        if not path.exists(f"{os.getcwd()}{p}"):
            os.mkdir(f"{os.getcwd()}{p}")
crearPaths()

In [6]:
#correr experimentos (ver como hay que modificar con lo de usar python y c++ juntos)
def correr_experimento(archivo_entrada, archivo_salida, metodo):
    # Crear proceso para ejecutar el codigo.
    process = subprocess.Popen(["./build/tp2", archivo_entrada, archivo_salida, metodo], stderr=subprocess.PIPE, stdout=subprocess.PIPE, stdin=subprocess.PIPE, universal_newlines = True)

    # Poner la instancia en la entrada estandar y leer salida de STDERR con el tiempo de ejecución.
    stdout, stderr = process.communicate() # communicate() devuelve una tupla (stdout, stderr)

    tiempo_de_ejecucion = str.splitlines(stderr)[0]
    #print(clog)

    # Correr experimento.
    exit_code = process.wait()

    # Verificar que el proceso no fallo.
    if exit_code != 0: raise(F"Hubo un error en la experimentacion con el metodo {'EG' if metodo == 0 else 'LU'} sobre la instancia {archivo_entrada}.")
    return float(tiempo_de_ejecucion)

In [7]:
class Experimento:
    def __init__(self, metodo, vecinos, extraData):
        self.metodo = metodo
        self.vecinos = vecinos
        self.extraData = extraData

    def print(self):
        print(f"Metodo: {self.metodo}")
        print(f"Vecinos: {self.vecinos}")
        print(f"extraData: {self.extraData}")

In [8]:
experimentos=[Experimento("KNN", i, "no") for i in range(0, 1000)]

In [9]:
columnas=["metodo", "vecinos", "extradata", "tiempo"]
filas=[]
iteraciones = 5
for index, experimento in enumerate(experimentos, start=1):
    clear_output(wait=True)
    print(f"Experimento: {index} de {len(experimentos)} info:")
    experimento.print()
    
    tiempos = []
    for it in range(0, iteraciones):
        tiempo = correr_experimento("entrada", "salida", experimento.metodo)
        tiempos.append(tiempo)
        
        
    media = np.median(tiempos)
    filas.append([experimento.metodo, experimento.vecinos, experimento.extraData, tiempo])
    
df_resultado = pd.DataFrame(filas, columns=columnas);
df_resultado.to_csv("./resultados/resultado.csv", index=False, header=True);

Experimento: 1000 de 1000 info:
Metodo: KNN
Vecinos: 999
extraData: no

In [24]:
def splitDataset(testSize=0.3): #default 70-30 como el fernet
    dataset = pd.read_csv("train.csv")
    train, test = train_test_split(dataset, test_size=testSize);
    return[train, test]

In [25]:
train, test = splitDataset()
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
9480,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23179,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1105,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14412,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12512,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
test.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
31913,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39424,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3309,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23588,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27109,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0